.randomMovie {
  display: flex;
  padding: 10px;
  margin: 15px;
  background-color: #303030;
  border-radius: 10px;
}
.list-group-item {
  background-color: #303030;
  border-left: none;
  border-right: none;
  font-size: 14px;
  padding: 5px;
}
.randomMovie_img,
.img {
  max-width: 200px;
  border-radius: 10px;
  margin-right: 15px;
}
