.error-indicator {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: darkgoldenrod;
  justify-content: center;
  margin: 0 auto;
}
.boom {
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 0;
}
